.px {
    padding-left: 5%;
    padding-right: 5%;
}

.dark-blue-bg {
    background-color: #25293A;
}

.blue-bg {
    background-color: #333950;
}

.blue-color {
    color: #333950;
}

.light-sky-blue-bg {
    color: #829CFF;
}

.sky-blue-bg {
    background-color: #5175FF;
}

.dark-blue-color {
    color: #25293A;
}

.light-sky-blue-color {
    color: #829CFF;
}

.grey-color {
    color: #747B95;
}

.sky-blue-color {
    color: #5175FF;
}

@media screen and (min-width: 600px){
    .px-sm {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 768px){
    .px-md {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 900px) {
    
}