td, tr, th {
    border: 1px solid rgb(229 231 235 / var(--tw-border-opacity));
}

.table__hidden-th {
    border: none;
}

@media screen and (min-width: 900px) {
    .table__description-column {
        width: 33.3333333333%;
    }

    .table__plans-column {
        width: 16.6666666667%;
    }
}