.footer {
    background-image: url(../../images/home/bg-pattern-footer.svg);
    height: 960px;
    margin-top: 600px;
}

.footer__time-container {
    width: 23%;
}

@media screen and (min-width: 600px){
    .footer {
        height: 820px;
        margin-top: 400px;
    }
}

@media screen and (min-width: 768px){
    .footer {
        height: 650px;
    }

    .footer__content {
        max-width: 50%;
    }
}


@media screen and (min-width: 768px){
    .footer {
        height: 472px;
        margin-top: calc(186px + 8rem);
    }
}
