.plans {
    transform: translate(0, 0%);
}

.plans__wrapper {
    left: 0;
    top: 0;
}

.plans__card:nth-child(2) {
   background-image: url(../../images/home/bg-pattern-pricing.svg);
}



.plan__button {
    background-color: #979797;
}


@media screen and (min-width: 960px) {
    .plans__card {
        width: 31.33333%;
    }
}